.sidebar-box {
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
  background-color: white;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0.5rem;
  color: #555;
}

.active-link {
  background-color: #e3f2fd !important;
}

.active-link .MuiListItemIcon-root svg {
  color: #1976d2 !important;
}

.active-link .MuiListItemText-root {
  font-weight: bold;
  color: #1976d2 !important;
}
